<% if @top_event != nil %>
  <div class="pop-gallery">
    <div class="pop-gallery-content">
      <figure>
        <img class="pop-up-img" alt="Marche nordique Pierrefonds" <%= image_tag @top_event.picture.to_s %>
        <figcaption><%= raw(@top_event.title) %><small><%= raw(@top_event.content) %></small></figcaption>
      </figure>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
    <symbol id="close" viewBox="0 0 18 18">
      <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
			S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
			l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
			c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
			s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z"/>
    </symbol>
  </svg>
<% end %>
<body data-spy="scroll" data-target=".navbar-collapse">
<%= render 'cookies_eu/consent_banner', link: '/privacy', target: '_blank' %>

<div class="culmn">

  <nav class="navbar navbar-default navbar-fixed green no-background bootsnav">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <em class="fas fa-ellipsis-v"></em>
        </button>
        <div class="navbar-brand">
          <a href="/" onclick='location.reload(true); return false;'><img class="logo logo-display m-top-10" alt="Logo Vital'Marche" <%= image_tag "logo.png" %></a>
          <a href="/" onclick='location.reload(true); return false;'><img class="logo logo-scrolled" alt="Logo Vital'Marche" <%= image_tag "logo.png" %></a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right blue" data-in="fadeInDown" data-out="fadeOutUp">
          <li><a href="#about">QUI SOMMES NOUS</a></li>
          <li><a href="#news">ACTUALITES</a></li>
          <li><a href="#join">REJOIGNEZ-NOUS</a></li>
          <li><a href="#photo-gallery">GALERIE</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li> <%= link_to "ESPACE ADHERENTS", user_space_path, data: {turbolinks: false} %>
          <li><a href="#" onclick='location.reload(true); return false;'><i class="fas fa-sync"></i></a></li>  
	  <% if user_signed_in? %>
            <li class="nav-item hvr-grow">
              <%= link_to raw('<i class="fas fa-power-off"></i><span class="d-md-none"></span>'), destroy_user_session_path, class: "nav-link-danger", title: "Déconnexion", method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="messages-container-alert col-md-12">
    <% flash.each do |level, value| %>
      <% if value != true %>
        <% if level == "danger" %>
          <div class="alert alert-danger" role="alert">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <%= value %>
          </div>
        <% else %>
          <div class="alert alert-info" role="alert">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <%= value %>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
  <section class="hello background-cover slick">
    <% for i in @slideshow %>
      <div class="container slide slide--<%= i.id %>" style="background-image: url(<%=i.picture.to_s%>);">

        <div class="row bck_layer">
          <div class="vertical-center col-xs-12">
            <div class="main_home">
              <div id="to_fill_text">
                <span><h1 class="home_text text-center">Bienvenue sur notre site</h1></span>
              </div>
            </div>
            <div id="to_fill_text" class="row main_home to_fill_text">
              <h3 class="slide_text text-center"> Qu’est-ce que la marche nordique </h3>
              <h6 id="to_fill_text" class="slide_text text-center to_fill_text slide_content">
           <span><% if @text_home != nil %>
              <%= raw(@text_home.content) %>
            <% else %>Plus dynamique que la randonnée, la marche nordique a pour principe
            d’accentuer le mouvement de balancier naturel des bras à l’aide de deux bâtons. Le corps est ainsi
            propulsé vers l’avant. On va plus vite, plus loin avec moins de fatigue.
            La dépense d’énergie est accrue et le plaisir de la pratique arrive dès les premières foulées car la
            technique est simple.
            Accessible à tous, cette pratique ravira les jeunes, les moins jeunes, quelle que soit leur condition
            physique.C’est aussi un sport familial et convivial qui regroupe un large public.<% end %>
          </span></h6>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </section>

  <section id="about" class="about m-top-20 page">
    <div class="container">
      <div class="row">
        <div class="main_about">
          <div class="col-xs-12">
            <div class="about_content">
              <h3 class="text-blue">QUI SOMMES NOUS</h3>
              <div class="separator_left"></div>
              <div class="about_top">
                <div class="to_fill_text m-bottom-10">
                  <% if @text_who_are_we != nil %>
                    <%= raw(@text_who_are_we.content) %>
                  <% else %>
                    <p>VITAL'MARCHE est une association, créée au cours de l’été 2018, domiciliée à Pierrefonds et
                      affiliée à la Fédération Française de Randonnée.
                      Elle est née de la volonté d’un groupe de marcheurs qui avait envie de partager un sport de
                      plein air dans la bonne humeur.
                      Chaque semaine, nous nous retrouvons pour marcher et plus dès que l’occasion se présente.
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="about_bottom_content">
          <div class="col-md-4">
            <div class="about_bottom_item">
              <div class="ab_head">
                <div class="ab_head_icon">
                  <i class="icofont"><i class="fas fa-walking"></i></i>
                </div>
                <h4 class="text-blue to_fill_text_title"><b>ENTRAÎNEMENTS</b></h4>
              </div>
              <div class="to_fill_text">
                <p>
                  <% if @text_training != nil %>
                    <%= raw(@text_training.content) %>
                  <% else %>Nous proposons 3 entraînements hebdomadaires (mardi matin, jeudi soir, samedi ou
                    dimanche matin par alternance) encadrés par des animateurs diplômés.
                  <% end %>
                </p></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_bottom_item">
              <div class="ab_head">
                <div class="ab_head_icon">
                  <i class="icofont"><i class="fas fa-tree"></i></i>
                </div>
                <h4 class="text-blue to_fill_text_title"><b>CADRE</b></h4>
              </div>
              <div class="to_fill_text">
                <p>
                  <% if @text_where != nil %>
                    <%= raw(@text_where.content) %>
                  <% else %>
                    Les marches se déroulent principalement au cœur des massifs forestiers du Compiégnois
                    (Forêts domaniales de Laigue et de Compiègne).
                    Ce périmètre offre une multitude de parcours variés (plats ou avec dénivelés, en plaine ou
                    en sous-bois,
                    sur de grandes allées ou sur des chemins moins fréquentés) qui évoluent au fil des saisons.
                  <% end %></p></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="about_bottom_item">
              <div class="ab_head">
                <div class="ab_head_icon">
                  <i class="icofont"><i class="fas fa-hiking"></i></i>
                </div>
                <h4 class="text-blue to_fill_text_title"><b>SORTIES</b></h4>
              </div>
              <div class="to_fill_text">
                <p>
                  <% if @text_event != nil %>
                    <%= raw(@text_event.content) %>
                  <% else %>
                    Des sorties sont également organisées sur une journée, ou un weekend.
                  <% end %></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="news" class="new fix page">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="main_new m-top-10">
          <div class="head_title text-center">
            <div class="col-xs-3">
              <i class='fas fa-chevron-left slid_prev text-white'></i>
            </div>
            <h3 class="text-white col-xs-6">ACTUALITÉS</h3>
            <div class="col-xs-3">
              <i class='fa fas fa-chevron-right slid_next text-white'></i>
            </div>
          </div>
          <div class="new_slid text-center">
            <% if (@articles.empty? != true) && (@articles.nil? != true) %>
              <% @articles.each do |article| %>
                <div class="new_item">
                  <div class="col-sm-10 col-sm-offset-1 row text-white">
                    <div class="test_authour article_text text-white">
                      <h2 class="text-white m-bottom-20"><%= article.title %></h2>
                    </div>
                    <% if (article.picture.to_s != "") %>
                    <div class="col-sm-12 col-lg-6">
                      <img class="articles thumbnail article_thumbnail" alt="Marche nordique Pierrefonds" <%= image_tag article.picture.to_s %>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                      <h6 class="text-white">
                        <%= raw(article.content) %></h4>
                    </div>
                    <% end %>
                    <% if (article.picture.to_s == "") %>
                    <div class="col-sm-12 col-lg-12">
                      <h6 class="text-white">
                        <%= raw(article.content) %></h4>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
  </section>

  <section id="join" class="about m-top-20 page">
    <div class="container">
      <div class="main_about">
        <div class="row">
          <div class="col-md-6">
            <div class="about_content">
              <h3 class="text-blue">REJOIGNEZ-NOUS</h3>
              <div class="separator_left"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 to_fill_text">
            <% if @text_join_us != nil %>
              <%= raw(@text_join_us.content) %>
            <% else %>
              <p>
                Vous avez décidé de vous mettre (ou vous remettre) au sport et vous cherchez une activité
                complète,
                accessible, économique, tonique, dynamique, de plein air et conviviale.
                <br>
                Vous voulez essayer, 2 séances d’essais vous sont proposées avec prêt de bâtons.
                <br>
                Pour votre équipement, ne pas avoir trop chaud ni trop froid, c’est utiliser la méthode des
                multicouches.
                <br>
                Pour bien marcher il faut prendre soins de ses pieds
                <br>
                <br>
                <br>
                À prévoir :
              <li>De bonne chaussures adaptée à la marche nordique</li>
              <li>Un sac à dos avec boissons et encas</li>
              <li>Une paire de bâtons</li>
              <li>Une lampe frontale pour les entraînements nocturne</li>
              </p>
            <% end %>
          </div>
          <div class="col-md-6">
            <% if @picture_join_us != nil %>
              <img class="join join-picture" alt="Marche nordique Pierrefonds" <%= image_tag @picture_join_us.picture.to_s %>
            <% else %>
              <img class="join join-picture" alt="Marche nordique Pierrefonds" <%= image_tag "image.jpg" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="new fix">
  <div class="overlay"></div>
  <div class="container">
      <br>
    <br>
  <div class="head_title text-center">
  <h3 class="text-white col-xs-12">GALERIE</h3>
</div>
</div>
</div>
  <section id="photo-gallery" class="photo-gallery gallery page">
  </section>

  <section id="contact" class="contact bg-mega fix page">
    <div class="row center-div">
      <div class="main_contact">
        <div class="col-md-12">
          <div class="rage_widget">
            <div class="widget_head">
              <h3 class="text-center text-blue">NOUS CONTACTER</h3>
              <div class="separator_auto"></div>
            </div>
            <div class="text-center col-md-12 to_fill_text">
              <p class="text-black">
                <% if @text_contact_us != nil %>
                  <%= raw(@text_contact_us.content) %>
                <% else %>
                <li>Adresse postale : Place de la Mairie 60350 PIERREFONDS</li>
                <li>Adresse mail : vitalmarche@gmail.com</li>
                 <br>
                Bureau :
                <li>Présidente : Christine, 0642720516</li>
                <li>Secrétaire : Fabienne, 0624215423</li>
                <li>Trésorière : Chantale, 0661714854</li>
                <li>Animateur : Christophe, 06.33.35.54.25</li>
                 <br>
                 <br>
                 <br>
                 <br>
              <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 center-block center-block-contact">
        <%= form_tag('/contact_us') do %>
          <div class="row">

            <div class="col-sm-6">
              <div class="contact-group">
                <%= text_field_tag :name, nil, placeholder: 'Nom', class: 'contact-control' %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="contact-group">
                <%= text_field_tag :email, nil, placeholder: 'Adresse mail', class: 'contact-control' %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="contact-group">
                <%= text_area_tag :message, nil, placeholder: 'Message', class: 'contact-control form-contact' %>
              </div>
              <div class="form-group text-center">
                <%= submit_tag "ENVOYER", class: 'btn btn-primary' %>
              </div>
            </div>

          </div>

        <% end %>
      </div>
    </div>
  </section>

  <section id="sponsor" class="contact bg-mega fix">
    <div class="container">
      <div class="row sponso-row">
        <div class="col-md-6 sponso-div ">
          <a href="http://www.mairie-pierrefonds.fr" target="_blank"><img class="sponso" alt="Marche nordique Pierrefonds" <%= image_tag "sponso/image.png" %></a>
        </div>
        <div class="col-md-6 sponso-div">
           <a href="https://www.credit-agricole.fr/ca-briepicardie/particulier.html" target="_blank"><img class="sponso" alt="Marche nordique Pierrefonds" <%= image_tag "sponso/image5.png" %></a>
        </div>
      </div>
      <div class="row sponso-row">
        <div class="col-md-4 sponso-div">
           <a href="http://topperf.net/fr/" target="_blank"><img class="sponso" alt="Marche nordique Pierrefonds" <%= image_tag "sponso/image4.png" %></a>
        </div>
        <div class="col-md-4 sponso-div">
           <a href="https://ccloise.com" target="_blank"><img class="sponso" alt="Marche nordique Pierrefonds" <%= image_tag "sponso/image2.png" %></a>
        </div>
        <div class="col-md-4 sponso-div">
           <a href="https://www.ffrandonnee.fr" target="_blank"><img class="sponso" alt="Marche nordique Pierrefonds" <%= image_tag "sponso/image6.png" %></a>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer" class="footer bg-black">
    <div class="container">
      <div class="row">
        <div class="main_footer text-center text-white p-top-40 p-bottom-30">
          <p class="wow fadeInRight" data-wow-duration="1s">
            <%= link_to "Vie privée", privacy_path, target: "_blank", data: {turbolinks: false} %> .
            Conçu avec
            <i class="fa fa-heart"></i>
            par
            <a target="_blank" href="https://github.com/lucaslamy">Lucas LAMY</a>
            2019.
          </p>
        </div>
      </div>
    </div>
  </footer>


</div>
<%= javascript_include_tag 'home.js' %>
<script>
    document.querySelector('#photo-gallery').appendChild(JGallery.create([
        <% @public_albums.each do |album| %>
        {
            title: '<%= album.title %>',

            items: [
                <% album.picture.each do |picture| %>
                {
                    url: '<%=picture.to_s %>',
                    thumbUrl: '<%=picture.to_s %>'
                }<% if picture != album.picture.last %>, <%end%><%end%>
            ]
        }<% if album != @public_albums.last %>, <%end%><%end%>]).getElement());
    <% if @top_event != nil %>
    popup = {
        init: function () {
            $(window).on('load', function () {
                popup.open($('figure'));
            });

            $(document).on('click', '.popup img', function () {
                return false;
            }).on('click', '.popup', function () {
                popup.close();
            })
        },
        open: function ($figure) {
            $('.pop-gallery').addClass('pop');
            $popup = $('<div class="popup" />').appendTo($('body'));
            $fig = $figure.clone().appendTo($('.popup'));
            $bg = $('<div class="bg" />').appendTo($('.popup'));
            $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
            $shadow = $('<div class="shadow" />').appendTo($fig);
            src = $('img', $fig).attr('src');
            $shadow.css({backgroundImage: 'url(' + src + ')'});
            $bg.css({backgroundImage: 'url(' + src + ')'});
            setTimeout(function () {
                $('.popup').addClass('pop');
            }, 10);
        },
        close: function () {
            $('.gallery, .popup').removeClass('pop');
            setTimeout(function () {
                $('.popup').remove()
            }, 100);
        }
    }

    popup.init();

    <%end%>

</script>
</body>
</html>
