<%= stylesheet_link_tag "devise", media: "all" %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section class="background-cover">
  <div class="session-panel container slide col-md-12">
    <div class="session-form devise_bck_layer">
      <img class="logo logo-display m-top-10 m-bottom-20" alt="Logo Vital'Marche" <%= image_tag "logo.png" %>

      <h2 class="form_title"><%= t('.resend_unlock_instructions') %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit t('.resend_unlock_instructions') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
</section>