<%= stylesheet_link_tag "devise", media: "all" %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section class="background-cover">
  <div class="session-panel container slide col-md-12">
    <div class="session-form devise_bck_layer">
      <img class="logo-session m-top-10 m-bottom-20" alt="Logo Vital'Marche" <%= image_tag "logo.png" %>

      <h2 class="form_title"><%= t('.change_your_password') %></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em><br/>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit t('.change_my_password') %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>