<%= stylesheet_link_tag "devise", media: "all" %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section class="background-cover">
  <div class="session-panel container slide col-md-12">
    <div class="session-form devise_bck_layer">
      <img class="logo-session m-top-10 m-bottom-20" alt="Logo Vital'Marche" <%= image_tag "logo.png" %>
      <h2 class="form_title"><%= t('.sign_in') %></h2>
      <div class="col-xs-10 col-md-12 text-center">
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.email_field :email, control_class: "center-class", autofocus: true, autocomplete: "email" %>

          <%= f.password_field :password, control_class: "center-class", autocomplete: "off" %>

          <div class="actions">
            <%= f.submit t('.sign_in') %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>