<%= stylesheet_link_tag "devise", media: "all" %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section class="background-cover">
  <div class="session-panel container slide col-md-12">
    <div class="session-form devise_bck_layer">
      <img class="logo-session m-top-10 m-bottom-20" alt="Logo Vital'Marche" <%= image_tag "logo.png" %>

      <h2 class="form_title"><%= t "devise.invitations.edit.header" %></h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: {method: :put}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :invitation_token, readonly: true %>

        <% if f.object.class.require_password_on_accepting %>
          <div class="field-unit field-unit--string">
            <div class="field-unit__field">
              <%= f.password_field :password %>
            </div>
          </div>

          <div class="field-unit field-unit--string">
            <div class="field-unit__field">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
        <% end %>

        <div class="form-actions">
          <%= f.submit t("devise.invitations.edit.submit_button") %>
        </div>
      <% end %>
    </div>
  </div>
</section>