.session-panel {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.session-form {
    padding-left: 0;
    padding-right: 0;
}

.form_title {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    color: #D0F5A9;
    font-weight: bold;
}

.slide {
    height: 100vh;
    @extend .background-cover;
    background-image: url('background/header.jpg');
    backgound-color: rgba(159, 159, 159, 0.49);
}

.remember {
    padding-left: 0;
    padding-bottom: 1em;
}

.devise_bck_layer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 600px;
    height:  600px;
    padding: 50px 120px;
    left: 50%;
    top:38%;
    transform: translate(-50%,-50%);
    font-family: 30px "Comic Sans MS", cursive, sans-serif ;
}

.mail_bck {
    text-align: center;
}
.new_user form-group{
    display: table;
    margin: 10px 0;
}
.form-group label {
    display:table-row;
    color: #D0F5A9;
    margin: 10px 0;
}
.form-group input {
    display: table-row;
    color: white;
    background-color: rgba(0, 0, 0, 0.46);
    font-size:18px;
    width: 100%;
    padding: 0 20px;
    height: 50px;
    border: 1px solid ;
    border-radius: 25px ;
}
.form-check{
    padding-top: 20px;
    text-align: left;


}
input[type="checkbox"]{
    margin-left: 60px;
}

.form-check  .form-check-label{
    font-size: 15px;
    text-align: center;
    display:block;
    color: #D0F5A9;
    font-style: italic;
}


input[type="submit"]{
    display: block;
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: #94B5BD;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.logo-invitation{
    height: calc(40vh - 1rem);
    width: auto;
}
