.fa-comments-o:before{content:"\f0e6"}

.fa-coffee:before{content:"\f0f4"}

.fa-file-text-o:before{content:"\f0f6"}  .fa-building-o:before{content:"\f0f7"}

.fa-angle-double-left:before{content:"\f100"}  .fa-angle-double-right:before{content:"\f101"}  .fa-angle-double-up:before{content:"\f102"}  .fa-angle-double-down:before{content:"\f103"}  .fa-angle-left:before{content:"\f104"}  .fa-angle-right:before{content:"\f105"}  .fa-angle-up:before{content:"\f106"}  .fa-angle-down:before{content:"\f107"}  .fa-desktop:before{content:"\f108"}

.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}  .fa-circle-o:before{content:"\f10c"}

.fa-circle:before{content:"\f111"}

.fa-github-alt:before{content:"\f113"}

.fa-keyboard-o:before{content:"\f11c"}

.fa-code:before{content:"\f121"}

.fa-location-arrow:before{content:"\f124"}

.fa-info:before{content:"\f129"}

.fa-html5:before{content:"\f13b"}  .fa-css3:before{content:"\f13c"}  .fa-anchor:before{content:"\f13d"}

.fa-play-circle:before{content:"\f144"}

.fa-gbp:before{content:"\f154"}

.fa-file:before{content:"\f15b"}  .fa-file-text:before{content:"\f15c"}

.fa-youtube:before{content:"\f167"}

.fa-youtube-play:before{content:"\f16a"}

.fa-adn:before{content:"\f170"}

.fa-windows:before{content:"\f17a"}  .fa-android:before{content:"\f17b"}

.fa-sun-o:before{content:"\f185"}

.fa-bug:before{content:"\f188"}  .fa-vk:before{content:"\f189"}

.fa-arrow-circle-o-right:before{content:"\f18e"}  .fa-arrow-circle-o-left:before{content:"\f190"}

.fa-dot-circle-o:before{content:"\f192"}

.fa-google:before{content:"\f1a0"}

.fa-building:before{content:"\f1ad"}  .fa-child:before{content:"\f1ae"}

.fa-tree:before{content:"\f1bb"}

.fa-file-pdf-o:before{content:"\f1c1"}

.fa-file-code-o:before{content:"\f1c9"}

.fa-git:before{content:"\f1d3"}

.fa-qq:before{content:"\f1d6"}

.fa-history:before{content:"\f1da"}

.fa-header:before{content:"\f1dc"}

.fa-copyright:before{content:"\f1f9"}  .fa-at:before{content:"\f1fa"}

.fa-toggle-off:before{content:"\f204"}  .fa-toggle-on:before{content:"\f205"}

.fa-bus:before{content:"\f207"}

.fa-cc:before{content:"\f20a"}

.fa-cart-arrow-down:before{content:"\f218"}


/*carousel fade*/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
/*carousel fade*/




/*==================================
Preloader Style
=================================*/

@-moz-keyframes pulse-loader {
  0% {
    -moz-box-shadow: #e67e22 0 0 0px 20px;
    box-shadow: #e67e22 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #e67e22 0 0 0px 25px inset;
    box-shadow: #e67e22 0 0 0px 25px inset;
  }
}
@-webkit-keyframes pulse-loader {
  0% {
    -webkit-box-shadow: #e67e22 0 0 0px 20px;
    box-shadow: #e67e22 0 0 0px 20px;
  }
  40% {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-box-shadow: #e67e22 0 0 0px 25px inset;
    box-shadow: #e67e22 0 0 0px 25px inset;
  }
}
@keyframes pulse-loader {
  0% {
    -moz-box-shadow: #e67e22 0 0 0px 20px;
    -webkit-box-shadow: #e67e22 0 0 0px 20px;
    box-shadow: #e67e22 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #e67e22 0 0 0px 25px inset;
    -webkit-box-shadow: #e67e22 0 0 0px 25px inset;
    box-shadow: #e67e22 0 0 0px 25px inset;
  }
}

/*=========================
End Preloader Style
===========================*/






