html,
body {
  background-color: #fff;
  font-size: 2vmin;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}
.link-wh {
  color: #ffffff;
  size: 6rem;
}
nav {
  font-size: 14px !important;
}

/*
Colors
=====================*/

$green: #98C169 !default;
$blue: #94B5BD !default;
$light-blue: #c2eaf6 !default;

.text-blue {
  color: $blue !important;
}

/*
IE10 in Windows 8 and Windows Phone 8 Bug fix
=====================*/

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*
Spacing & Alignment
=====================*/

.roomy-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-primary {
  color: $blue !important;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}

.disabled {
  cursor: not-allowed;
}

.bg-primary {
  background-color: #1E8BC3;
}

.bg-mega {
  background-color: #6a6b6c;
}

.bg-black {
  background-color: #212121;
}

.bg-white {
  background-color: #fff;
}

img {
  max-width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -user-select: none;
  -webkit-user-drag: none;
  -user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

a,
button,
a span {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
  outline: inherit;
  background-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /*    direction: rtl;*/
}

.clear {
  clear: both;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  /*color:#fff;*/
}

.form-control {
  border-radius: 0px;
  border: 1px solid #ccc;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  width: 100%;
  height: 50px;
  /*color:#fff;*/
}

.form-control:focus {
  border-color: #bcefeb;
  outline: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
  /*color:#fff;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #1a1a1a;
  margin-bottom: 10px;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 2.1rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1rem;
  line-height: 2.2rem !important;
}


.text-blue {
  color: $blue;
}

p {
  line-height: 1.5rem;
  margin: 0 0 15px;
}

p:last-child {
  margin-bottom: 0px;
}

.w300 {
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.overlay {
  background-color: $blue;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.left-no-padding {
  padding-left: 0 !important;
}

.right-no-padding {
  padding-right: 0 !important;
}


/*
Separator
=====================*/

.separator_left {
  width: 85px;
  height: 2px;
  margin: 20px 0px;
  background: $blue;
}

.separator_auto {
  width: 85px;
  height: 2px;
  margin: 20px auto;
  background: $blue;
}

/*
Height
=====================*/

.m-0 {
  margin: 0 !important;
}

.m-top-0 {
  margin-top: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-r-15 {
  margin-right: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-top-40 {
  margin-top: 40px;
}

.m-top-50 {
  margin-top: 50px;
}

.m-top-60 {
  margin-top: 60px;
}

.m-top-80 {
  margin-top: 80px;
}

.m-top-90 {
  margin-top: 90px;
}

.m-top-100 {
  margin-top: 100px;
}

.m-top-110 {
  margin-top: 110px;
}

.m-top-120 {
  margin-top: 120px;
}

.m-t-b-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.m-t-b-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-bottom-40 {
  margin-bottom: 40px;
}

.m-bottom-60 {
  margin-bottom: 60px;
}

.m-bottom-80 {
  margin-bottom: 80px;
}

.m-bottom-90 {
  margin-bottom: 90px;
}

.m-bottom-100 {
  margin-bottom: 100px;
}

.m-bottom-110 {
  margin-bottom: 110px;
}

.m-bottom-120 {
  margin-bottom: 120px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-top-10 {
  padding-top: 10px;
}

.p-top-20 {
  padding-top: 1.33rem;
}

.p-bottom-20 {
  padding-bottom: 1.33rem;
}

.p-top-30 {
  padding-top: 1.875rem;
}

.p-bottom-30 {
  padding-bottom: 1.875rem;
}

.p-top-40 {
  padding-top: 2.66rem;
}

.p-bottom-40 {
  padding-bottom: 2.66rem;
}

.p-top-60 {
  padding-top: 5rem;
}

.p-bottom-60 {
  padding-bottom: 5rem;
}

.p-top-80 {
  padding-top: 5.714rem;
}

.p-bottom-80 {
  padding-bottom: 5.714rem;
}

.p-top-90 {
  padding-top: 6.429rem;
}

.p-bottom-90 {
  padding-bottom: 6.429rem;
}

.p-top-100 {
  padding-top: 100px;
}

.p-bottom-100 {
  padding-bottom: 100px;
}

.p-top-110 {
  padding-top: 110px;
}

.p-bottom-110 {
  padding-bottom: 110px;
}

.p-bottom-0 {
  padding-bottom: 0;
}

.no-border-top {
  border-top: 0px solid transparent !important;
}


input[type="email"].form-control::-webkit-input-placeholder {
  color: #fff;
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input::-moz-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input::placeholder {
  color: #cdcdcd;
  font-style: italic;
}

input::-ms-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
}

textarea::-webkit-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
  padding: 5px;
}

textarea::-moz-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
  padding: 5px;
}

textarea::-ms-input-placeholder {
  color: #cdcdcd;
  font-style: italic;
  padding: 5px;
}

.transform_scal_rotate:hover img {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.culmn {
  width: 100%;
  overflow: hidden;
}

.head_title {
  padding-bottom: 7.143rem;
  overflow: hidden;
}

.head_title h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2.286rem;
  color: #1a1a1a;
}

.head_title p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4a4a4a;
}


/*
Nav Menu style
==================*/

.cart-list li h6 a {
  color: #000;
}

.btn-cart {
  background-color: $blue;
  padding: 2px 10px;
  color: #fff !important;
  border: 0px solid;
  display: inline-block;
}

.btn-cart:hover {
  border: 0px solid;
  background-color: #ff7854 !important;
}

/*
Home Section style
==================*/

.home {
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-size: cover;
  background-position: center center;
  color: white;
  height: 100%;
  width: 100%;
}

.main_home {
  overflow: hidden;
  top: 20%;
  bottom: 50%;
  z-index: 1;
}

.home_text h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.286rem;
  font-weight: 700;
  line-height: 6.5rem;
}


/*
About section style
====================*/

.main_about {
  display: table;
  width: 100%;
}

.ab_head {
  width: 100%;
  display: table;
}

.ab_head .ab_head_icon {
  float: left;
  margin-right: 20px;
}

.ab_head .ab_head_icon .icofont,
.ab_head .ab_head_icon .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 1.5rem;
  background-color: $blue;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 6px $light-blue;
}

.slick-slide {
  opacity: 1;
}

.slick-center {
  display: block;
  max-width: 10% !important;
  max-height: 20% !important;
  opacity: 1;
}

/*
Slick Section style
=====================*/

.background-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(39, 39, 39, 0.45);
}

.bck_layer {
  background-color: rgba(0, 0, 0, 0.42);
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*
.text{
  position: absolute
}*/
.home_text {
  color: #f0f0f0;
}

.slide_text {
  color: #f0f0f0;
}

.slide {
  height: 100vh;
  @extend .background-cover;
  backgound-color: rgba(159, 159, 159, 0.49);
}

/*
News Section style
=======================*/

.article_text {
  padding-bottom: 5rem;
}

.article_thumbnail {
  display:block;
  margin:auto;
}

.new {
  background-color: $blue;
  background-size: cover;
  position: relative;
}

.main_new {
  position: relative;
  z-index: 1;
}

.main_new .new_slid {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.main_new .new_item {
  width: 90%;
  margin: 0 auto;
}

.main_new .new_slid .slick-arrow {
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.main_new .new_slid .slick-arrow.nextprevleft {
  float: left;
  top: 20px;
  left: -6%;
}

.main_new .new_slid .slick-arrow.nextprevright {
  float: right;
  top: -324px;
  right: -6%;
}

.main_new .new_item .test_authour i {
  color: #ffbf00;
}

.main_new .pdf_slid .slick-arrow {
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.main_new .pdf_slid .slick-arrow.nextprevleft {
  float: left;
  top: 20px;
  left: -6%;
}

.main_new .pdf_slid .slick-arrow.nextprevright {
  float: right;
  top: -324px;
  right: -6%;
}

.main_new .pdf_slid {
  width: 90%;
  display: block;
  margin: 0 auto;
}

/*
Contact Section style
=====================*/

.center-div {
  margin: auto;
  width: 50rem;
  height: 43rem;
}

.main_contact {
  overflow: hidden;
}

.main_contact a.btn {
  width: 100%;
}

.sponso-row {
  text-align: center;
  position: relative;
}

.sponso-div {
  display: inline-block;
  /* float:none; */
}

.sponso {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.contact-group {
  margin-bottom: 1rem;
}

.contact-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $blue;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-contact {
  height: 10rem !important;
}

.contact {
  position: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #fff;
}

.center-block-contact {
  margin-bottom: 10rem;
  margin-top: 2rem;
}

/*
Footer Section style
=====================*/

.main_footer {
  overflow: hidden;
}

.main_footer i {
  padding: 0px 5px;
  color: #ff0000;
}


/*
Override jGallery
=====================*/

.j-gallery-thumbnails {
  display: none !important;
}

/*
Override Bootsnav
=====================*/

nav.navbar.bootsnav {
  background-color: $green;
}

nav.navbar.bootsnav ul.nav > li > a {
  color: #fff !important;
}

#navbar-menu {
  padding-top: 20px;
}

.navbar {
  min-height: 120px !important;
}

.logo {
  max-height: 500%;
  max-width: 300%;
}

.logo-scrolled {
  max-height: 300%;
  max-width: 100%;
}

/* Gallery Section Style
=====================*/
.j-gallery {
  height: 90vh !important;
  background-color: rgb(112, 255, 7);
}

.j-gallery-preview-content {
  background-size: contain !important;
  margin: auto !important;
  width: auto !important;
  height: 100% !important;
}

.btn-modal-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Pdf Section Style
=====================*/

.pdf-img {
  width: 20%;
  text-align: center;
  margin: auto !important;
}

/* Calendar Section Style
=====================*/

.calendar-title {
  color: #0b0b0b;
}

/* Alert Style
=====================*/

.alert {
  margin-top: 10rem !important;
  margin-right: 10rem !important;
  margin-left: 10rem !important;
  margin-bottom: 0 !important;
}

.messages-container-alert {
  position: absolute;
  z-index: 1000;
  background: transparent;
}

/* Google Calendar */

.google-calendar {
  float: none;
  margin: 0 auto

}

/* Session */

.logo-session {
  max-width: 50%;
  left: 50%;
  padding-top: 10%;
  margin: auto;
}

.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -60px;
  max-width: 200% !important;
  width: 1000px !important;
  height: auto;
  display: block;
  z-index: 999;
}

.page {
  height: 100%;
  box-sizing: border-box;
}

navbar {
  height: calc(8rem);
}

.on-top-pdf {
  height: 80vh;
}

.responsiveCal {

  position: relative;
  padding-bottom: 75% !important;
  height: 0;
  overflow: hidden;
}

.responsiveCal iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;

}

.cal {
  border-width:0
}
@media screen and (max-width: 990px) {
  .join-picture{
    display: none !important;
  }
  .vertical-center {
    margin-top: 60vmin !important;
  }
  // .to_fill_text_title{
  //   font-size: 4vmin !important;
  // }
  .to_fill_text{
    font-size: 4vmin !important;
  }
  p{
    line-height: 2.5rem !important;
  }
  h1 {
    font-size: 6vmax !important;
    line-height: 6vmax !important;
  }
  h3{
    font-size: 4vmax !important;
    line-height: 4vmax !important;
  }
  .about_top{
    margin-bottom: 0vh !important;
  }
  .ab_head_icon{
    display: none;
  }

}

@media screen and (max-height: 1225px) {
  .vertical-center {
    margin-top: 40vmin !important;
  }
  .to_fill_text{
    font-size: 2vmin !important;
  }
  // .to_fill_text_title{
  //   font-size: 6vmin !important;
  // }
}

@media screen and (max-width: 767px) {
  .popup {
  display: none;
  }
}

.about_top{
  margin-bottom: 20vh;
}

.to_fill_text{
  font-size: 1vh;
}
p{
  line-height: 2rem !important;
}
.vertical-center {
  margin-top: 30vmin;
}

.slide_content {
  margin: 2vw;
}


/*   Popup   */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

.pop-gallery {
  display: none !important;
  position: absolute;
  z-index: 9;
  padding:0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transition: all .5s ease-in-out;
  transform: translateZ(0);

  &.pop {
    filter: blur(1px);
  }

  figure {
    flex-basis: 33.333%;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      transition: all .3s ease-in-out;
    }

    figcaption {
      display: none;
    }

  }
}

.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(52, 52, 52, 0.85);
  filter: blur(100%);
  opacity: 0;
  transition: opacity .5s ease-in-out .2s;

  &.pop {
    opacity: 1;
    transition: opacity .2s ease-in-out 0s;

    figure {
      margin-top: 0;
      opacity: 1;
    }
  }


  figure {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    right: 5vh !important;
    transform: translate(-50%, -50%) !important;
    transform-origin: 0 0;
    opacity: 0;
    animation: poppy 500ms linear both;

    img {
      width: 100%;
      position: relative;
      z-index: 2;
      //box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 6px 30px rgba(0, 0, 0, .4);
    }

    figcaption {
      position: absolute;
      bottom: 50px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.99));
      z-index: 2;
      width: 100%;
      padding: 100px 20px 20px 20px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 32px;

      small {
        font-size: 11px;
        display: block;
        text-transform: uppercase;
        margin-top: 12px;
        text-indent: 3px;
        opacity: .9;
        letter-spacing: 0.5px;
      }
    }

    .shadow {
      position: relative;
      z-index: 1;
      top: -56px;
      margin: 0 auto;
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 98%;
      height: 50px;
      opacity: .9;
      filter: blur(16px) contrast(1.5);
      transform: scale(0.95, -0.7);
      transform-origin: center bottom;
    }
  }

  .close {
    position: absolute;
    z-index: 4;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(#close);
    border-radius: 25px;
    background: rgba(0, 0, 0, 5);
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.2);

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes poppy {
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, -94.672, -91.573, 0, 1); }
  4.3% { transform: matrix3d(0.408, 0, 0, 0, 0, 0.54, 0, 0, 0, 0, 1, 0, -122.527, -121.509, 0, 1); }
  4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, -134.908, -134.843, 0, 1); }
  6.81% { transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, -197.77, -200.879, 0, 1); }
  8.61% { transform: matrix3d(0.82, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, -245.972, -246.757, 0, 1); }
  9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, -265.038, -262.804, 0, 1); }
  10.21% { transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, -282.462, -275.93, 0, 1); }
  12.91% { transform: matrix3d(1.094, 0, 0, 0, 0, 1.328, 0, 0, 0, 0, 1, 0, -328.332, -298.813, 0, 1); }
  13.61% { transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, -336.934, -299.783, 0, 1); }
  14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, -342.273, -299.395, 0, 1); }
  17.22% { transform: matrix3d(1.205, 0, 0, 0, 0, 1.252, 0, 0, 0, 0, 1, 0, -361.606, -281.592, 0, 1); }
  17.52% { transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, -362.348, -278.88, 0, 1); }
  18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, -363.633, -267.15, 0, 1); }
  21.32% { transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, -358.864, -240.617, 0, 1); }
  24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, -345.164, -216.073, 0, 1); }
  25.23% { transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, -340.193, -210.948, 0, 1); }
  28.33% { transform: matrix3d(1.075, 0, 0, 0, 0, 0.898, 0, 0, 0, 0, 1, 0, -322.647, -202.048, 0, 1); }
  29.03% { transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, -318.884, -201.771, 0, 1); }
  29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, -314.277, -202.202, 0, 1); }
  35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, -293.828, -216.499, 0, 1); }
  36.74% { transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, -291.489, -220.242, 0, 1); }
  39.44% { transform: matrix3d(0.962, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, -288.62, -227.228, 0, 1); }
  41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, -288.247, -229.999, 0, 1); }
  44.44% { transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, -289.763, -232.215, 0, 1); }
  52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, -297.363, -226.449, 0, 1); }
  59.86% { transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -301.813, -222.759, 0, 1); }
  61.66% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, -302.102, -222.926, 0, 1); }
  63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, -302.171, -223.276, 0, 1); }
  75.28% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -300.341, -225.696, 0, 1); }
  83.98% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.61, -225.049, 0, 1); }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.599, -224.94, 0, 1); }
  90.69% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, -299.705, -224.784, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, -225, 0, 1); }
}

.small-pop-up{
  color: #FFFFFF;
}

.hidden {
  display: none;
}

/* My SEO 
=====================*/
.mySEO {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0; 
}