
.user_space_buttons {
    margin: auto;
    width: 50%;
    height: 80%;
}

.user_space_button {
    margin: auto;
    width: 50%;

}

.user_space_text {
    color: #f0f0f0;
    text-align: center;
}

.user_space-slide {
    height: 100vh;
    background-size: cover;
    background-image: url('background/header.jpg');
}

.user_space-background {
    height: 100vh;
@extend . user_space-background-cover;
    background-image: image-url('background/header.jpg');
    backgound-color: rgba(159, 159, 159, 0.29);

}

.user_space_text_div {
    margin-bottom: 5rem;
}

.btn-outline-primary {
    color: #94B5BD !important;
    border-color: #94B5BD !important;
}

.calendar_prev {
    display: block;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    top: 50%;
    transform: translateY(90%);
}

.calendar-relative {
    position: relative;
}

.calendar_next {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    top: 50%;
    transform: translateY(90%);
}

.eventModal {
    position: absolute !important;
    bottom: auto;
    top: 25%;
}

/*Override opacity*/
.modal-backdrop.in {
    opacity: 0;
}
