<%= stylesheet_link_tag "devise", media: "all" %>
<div class="col-md-12 mail_bck text-center m-top-10">
  <p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

  <p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>
  <br>
  <p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

  <% if @resource.invitation_due_at %>
    <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
  <% end %>

  <p><%= t("devise.mailer.invitation_instructions.ignore") %></p>
</div>
