<%= stylesheet_link_tag "devise", media: "all" %>
<div class="col-md-12 mail_bck text-center m-top-10">
  <img class="logo logo-display text-center m-top-10 m-bottom-20" alt="Logo Vital'Marche" <%= image_tag "logo.png" %>
  <p><%= t('.greeting', recipient: @resource.email) %></p>

  <p><%= t('.message') %></p>
</div>