<head>
  <%= stylesheet_link_tag 'user_space', media: 'all'%>
  <title>Espace administrateur du site Vital'Marche</title>
</head>

<nav class="navbar navbar-default navbar-fixed green no-background bootsnav">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
      <em class="fa fa-bars"></em>
    </button>
    <a class="navbar-brand" href="#brand">

      <img class="logo logo-display m-top-10" alt="Logo Vital'Marche"  <%= image_tag "logo.png" %>
      <img class="logo logo-scrolled"  alt="Logo Vital'Marche"  <%= image_tag "logo.png" %>

    </a>
  </div>
  <!-- End Header Navigation -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="nav navbar-nav navbar-right blue" data-in="fadeInDown" data-out="fadeOutUp">
      <li> <%= link_to "RETOUR ACCUEIL", root_path %>
        <% if user_signed_in? %>
        <li class="nav-item hvr-grow">
          <%= link_to raw('<i class="fas fa-power-off"></i></i> <span class="d-md-none"></span>'), destroy_user_session_path, class: "nav-link-danger", title: "Déconnexion", method: :delete %>
        </li>
      <% end %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>


</nav>



<section class="user_space-slide">
  <!--    <div class="overlay"></div>-->
  <div class="container ">
    <div class="row bck_layer">
      <div class="user_space_buttons">
        <div class="main_home user_space_text_div col-md-12">
          <div>
            <h1 class="user_space_text">Espace administrateur</h1>
          </div>
        </div>
        <div class="main_home col-md-12">
          <div class="user_space_button col-md-6">
            <%= link_to "Tableau de bord", admin_users_path, class: "btn btn-outline-primary col-md-12" %>
          </div>
          <div class="user_space_button col-md-6">
            <%= link_to "Gérer les albums", admin_albums_path, class: "btn btn-outline-primary col-md-12" %>
          </div>
        </div>
      </div>
    </div><!--End off row-->
  </div><!--End off container -->
</section> <!--End off Home Sections-->