<head>
  <%= stylesheet_link_tag 'user_space', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Espace adhérent du site Vital'Marche</title>
</head>
<div data-spy="scroll" data-target=".navbar-collapse">


  <div class="culmn">
    <%= render 'user_space/simple_user_space' %>
  </div>

  <footer id="footer" class="footer bg-black">
    <div class="container">
      <div class="row">
        <div class="main_footer text-center text-white p-top-40 p-bottom-30">
          <p class="wow fadeInRight" data-wow-duration="1s">
            <%= link_to "Vie privée", privacy_path, target: "_blank", data: {turbolinks: false} %> .
            Conçu avec
            <i class="fa fa-heart"></i>
            par
            <a target="_blank" href="https://github.com/lucaslamy">Lucas LAMY</a>
            2019.
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>
</body>
</html>
