<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<html>

<head>
    <title>Vital'Marche</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo.png' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.vitalmarche.cf" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1280" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <%
=begin%>
 <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>"> 
<%
=end%>
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <%
=begin%>
 <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>"> 
<%
=end%>
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <!-- Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8671f6e6df.js" crossorigin="anonymous"></script>
    <!-- end -->
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'vendor/jquery-1.11.2.min.js'%>
    <%= javascript_include_tag 'jquery.textfill.min.js'%>
    <%= javascript_include_tag 'vendor/bootstrap.min.js'%>
    <script src="https://cdn.ckeditor.com/4.6.1/full-all/ckeditor.js"></script>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= javascript_include_tag 'vendor/modernizr-2.8.3-respond-1.4.2.min.js'%>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'slick.min.js'%>
    <%= javascript_include_tag 'jquery.collapse.js'%>
    <%= javascript_include_tag 'bootsnav.js'%>
    <%= javascript_include_tag 'plugins.js'%>
    <%= javascript_include_tag 'main.js'%>
    <%= javascript_include_tag 'jgallery.js'%>
</head>

<body>
    <div class="mySEO">
        Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche
        Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche Vital'Marche
        marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique
        marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique marche nordique
        Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds
        Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds Pierrefonds
        Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne
        Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne Compiègne
        Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise
        Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise Oise
    </div>
    <%= yield %>
</body>

</html>